:root {
    font-family: 'Lato';
}

a {
    text-decoration: none;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

*{
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: white;
  }