
.photobox {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: space-between;
}

.phototile {
    padding: 10px;
    width: 25%;
    height: 600px;
    background-image: url(../images/Photomodel2.jpg);
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

.main_info {
    width: 80%;
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.name {
    position: absolute;
    top: 600px;
    color: white;
    font-size: 30px
}