main {
  background-color: rgb(219, 219, 219);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main_info {
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .photogallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    border-top: 1px solid white;

    @media only screen and (min-width: 1000px) and (max-width: 1366px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media only screen and (min-width: 700px) and (max-width: 999px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @media only screen and (max-width: 699px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .wrapper {
      overflow: hidden;
    

      .phototile {
        background-image: url(../images/Photomodel2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 634px;
        width: 440px;
        // display: flex;
        // justify-content: center;
        // align-items: flex-end;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        
        &:hover {
          transform: scale(1.1);
          transition: all 0.4s ease-in-out;
        }
        span {
          position: absolute;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 2rem;
          text-align: center;
          // padding: 30px;
        }
      }
    }
  }
}
