main {
  background-color: rgba(168, 167, 166, 0.301);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main_info {
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 60px;
      font-weight: 600;
    }
  }
  
  .photogallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;

    .wrapper {
      overflow: hidden;

      .phototile {
        background-image: url(../images/Photomodel2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 644px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        &:hover {
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
        }
        span {
          color: white;
          font-size: 2rem;
          text-align: center;
          padding: 30px;
        }
      }
    }
  }
}
