footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 228, 228);
    p, a{
        text-align: center;
        color: rgb(104, 104, 104);
    }
}