.container_girls {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 80%;
    padding: 40px 20px;

    h2 {
      color: $colorText;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;
      &::before {
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        margin-right: 5px;
        background-color: white;
        box-shadow: 1px 1px 2px whitesmoke;
      }
      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 1px;
        margin-left: 5px;
        background-color: white;
        box-shadow: 1px 1px 2px whitesmoke;
      }
    }

    .info_table {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      border-top: 1px solid white;
      border-left: 1px solid white;
      background-color: rgb(117, 117, 117);
      box-shadow: 0px 0px 18px -5px rgba(129, 129, 129, 0.64);
      @media only screen and (max-width: 999px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .info_box {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        font-size: 1.4rem;
        font-weight: 300;
        @media only screen and (max-width: 999px) {
            font-size: 1.2rem;
        }
        li {
          padding: 10px;
        }
      }
    }
  }

  .photos {
    display: flex;
    justify-content: center;
    max-width: 90%;
    padding: 20px 0;
    @media only screen and (max-width: 999px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .photo_wrapper {
      width: 50%;
      padding: 0 10px;
      @media only screen and (max-width: 999px) {
        width: 100%;
        padding: 10px 0;
      }
    }
  }

  p {
    color: $colorText;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 75%;
    line-height: 1.5rem;
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
