header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 3;
  opacity: 0.9;

  .header_container {
    margin: 0 auto;
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media only screen and (max-width: 999px) {
      .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);

        .line {
          width: 30px;
          height: 2px;
          background-color: black;
          margin: 4px;
        }
      }
      
      li {
        display: none;
      }
    }

    ul {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        border-right: 1px solid rgb(233, 231, 231);
        padding: 1rem;
        &:first-child {
          border-left: 1px solid rgb(233, 231, 231);
        }

        &:hover {
          border-bottom: 1px solid orange;
        }

        span {
          font-size: 1.5rem;
          color: black;
          font-weight: 300;
        }
      }
    }
  }
}
